@model SmartHome.Web.Models.Home.OverviewViewModel

<h1>Overview</h1>

<section>
    <h2>Temperature</h2>
    
    <h3>Inside</h3>
    <div>
        <div>
            @foreach (var measurement in Model.LastSensorTemperatureMeasurements.Where(x => x.IsInside))
            {
                <div>
                    @measurement.Temperature
                    @measurement.SensorTypeName
                    @measurement.PlaceName
                </div>
            }
        </div>
    </div>

    <h3>Outside</h3>
    <div>
        <div>
            <div>
                @foreach (var measurement in Model.LastSensorTemperatureMeasurements.Where(x => !x.IsInside))
                {
                    <div>
                        @measurement.Temperature
                        @measurement.SensorTypeName
                        @measurement.PlaceName
                    </div>
                }
            </div>
        </div>
    </div>
    
    <ejs-calendar id="calendar"></ejs-calendar>
    
    @* TODO: graph showing how the temperature evolved in last n days (e.g. 7 days) with possibility to zoom in *@
</section>